html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible",content="ie=edge")
        title Clima Hoje
        link(rel="stylesheet", href="/css/bootstrap.min.css")
    body
        div.container
            h1.text-center.text-primary Clima Hoje
            form(action="/", method="post")
                div.form-group
                    input.form-control(type="text", name="city" placeholder="Local. Ex: São Paulo")
                button.btn.btn-primary(type="submit") Pesquisar
            div.row
                if(success)
                    div.col-md-12
                        p !{city} !{temperature} °C
                        p Fonte: #[a(href="https://hgbrasil.com/status/weather/", target="_blank") HG Weather]
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
